{% extends 'base.html.twig' %}

{% block title %} BookStore | Log in!{% endblock %}

{% block body %}
    <div class="ui middle aligned center aligned grid" style="margin-top: 5em;">
        <div class="sixteen column" >
            <form class="ui large form segment" method="post" style="padding: 2em 0.4em;">
                <h1 class="ui teal image header">
                    <div class="content">
                        Please sign in
                    </div>
                </h1>
                <div class="ui stacked " style="padding: 2.7em 2em;">
                    <div class="field mb-1">
                        <div class="ui left icon input fluid">
                            <i class="user icon"></i>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus placeholder="E-mail address OR username">
                        </div>
                    </div>
                    <div class="field mb-1">
                        <div class="ui left icon input fluid">
                            <i class="lock icon"></i>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="password" >
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button type="submit" class="ui fluid large teal submit button">Login</button>
                </div>
                {% if error %}
                    <div class="ui error message">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

            </form>

            <div class="ui message">
                New to us? <a href="{{ path('app_register') }}">Sign Up</a>
            </div>
        </div>
    </div>



    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
