{% extends 'base.html.twig' %}

{% block title %} BookStore | Genres {% endblock %}

{% block body %}

    <div class="contentWrapper">


        <div class="ui segment sixteen  column wide items" style="padding: 5em 1.5em; border: 1px solid gray; background-color: #fffffdc7;">
            <h1 class="ui header center aligned" style="margin: 10px auto 50px auto;"> Genres list :  </h1>
            {% if genres|length>0 %}
                <div class="ui grid four column">
                    {% for genre in genres %}
                        <div class="ui column wide center aligned">
                            <a href="{{ path('genre_show', {id:genre.id}) }}"> {{ genre.nom}} ({{ genre.livres|length }}) </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="ui segment fourteen column wide center aligned" style=" margin-bottom: 2em !important; border: 1px solid gray; background-color: #fffffdc7;">
                    <div class="ui error message">
                        <div class="header">
                            Sorry, but we couldn't find any genre !
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


    </div>

{% endblock %}
