{% extends 'base.html.twig' %}

{% block body %}
    <h1> Access Forbidden </h1>

    <p>
        You don't have the permission to access to the requested page. Checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}