{% extends 'base.html.twig' %}

{% block body %}
    <h1> Server Error ! </h1>

    <p>
        A server error has occured, try this operation later now try to <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}