<footer class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider"></div>
        <img src="{{ asset("logo.png") }}" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="https://github.com/ubmagh/Symfony-bookStore"> <i class="github icon"></i> BookStore </a>
        </div>
    </div>
</footer>