<footer class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui inverted section divider">
            <h4 class="ui header" style="margin: 9px auto 16px auto;">
                <strong>Language : </strong>
                <a href="#French"> French </a>
                <a href="#English"> English </a>
            </h4>
        </div>
        <img src="{{ absolute_url('/logo.png') }}" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="https://github.com/ubmagh/Symfony-bookStore"> <i class="github icon"></i> BookStore </a>
        </div>
    </div>
</footer>