{% extends 'base.html.twig' %}

{% block title %}  BookStore | Create a new User {% endblock %}

{% block body %}
    <div class="contentWrapper" style="padding: 2em 1em;">

        <div class="ui segment sixteen column wide items" style="padding: 1em; border: 1px solid gray; background-color: #fffffdc7;">
            <div style="display: flex;align-content: center;justify-content: space-between;align-items: center;">
                <h5 class="ui header customClass pb-0 left aligned">
                    <a href="{{ path("cp_user_index") }}"> <i class="icon left arrow" ></i> Go Back to users list  </a>
                </h5>
            </div>
        </div>


        <div class="ui segment attached sixteen column wide items" style="padding: 1em; border: 1px solid gray;">
            <h1 class="ui header center aligned big"> Create a new User </h1>
        </div>

        <div class="ui segment attached sixteen column wide items" style="padding: 4em 2em; border: 1px solid gray;">
            {{ include('user/_form.html.twig', { 'button_label': "Create", 'newUser': 1}) }}
        </div>

    </div>
{% endblock %}
